<p id="notice"><%= notice %></p>

<h1 class="header">Data Sources</h1>
<div class="ui divider"></div>


<%= link_to 'New Data Source', new_data_source_path, class: "ui button primary" %>

<table class="ui striped table selectable celled">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Loaded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td><%= data_source.name %></td>
      
        <td><%= data_source.email %></td>
        <td><%= data_source.loaded %></td>
        <td>
          <%= link_to 'Show', data_source, class: "ui button tiny green" %>
          <% if cookies[:user] == data_source.email || cookies[:user] == "gregory@culturecreates.com" %>
          <%= link_to 'Edit', edit_data_source_path(data_source), class: "ui button tiny" %>
          <%= link_to 'Destroy', data_source, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button tiny red" %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Data Source', new_data_source_path, class: "ui button primary" %>
