<p id="notice"><%= notice %></p>

<h1 class="header">Data Sources</h1>
<div class="ui divider"></div>
<h1>
  <%= @data_source.name %> 
</h1>
<h3>
  <%= @data_source.email %> <span><%= @data_source.loaded %></span>
</h3>
<%= link_to 'Load', load_data_source_path, class: "ui button blue" %>
<pre>
 <code>
  <%= @data_source.sparql %>
</code>
</pre>



<%= link_to 'Edit', edit_data_source_path(@data_source), class: "ui button green" %>

<%= link_to 'Back', data_sources_path, class: "ui button black" %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>