<%= form_with(model: production, local: true) do |form| %>
  <% if production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
      <% production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :location_label %>
    <%= form.text_field :location_label, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :location_uri %>
    <%= form.text_field :location_uri, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :date_of_first_performance %>
    <%= form.datetime_select :date_of_first_performance %>
  </div>

  <div class="field">
    <%= form.label :production_company_uri %>
    <%= form.text_field :production_company_uri, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :production_company_label %>
    <%= form.text_field :production_company_label, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, cols: 60, rows:4 %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.text_field :main_image, size: 100 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
