<h1 class="header"><%= name %></h1>
<div class="ui divider"></div>
<div class="ui link cards app-cards">
  <% production_list.each do |production| %>
    <a class="card" href="<%= production_path(production) %>">
      <div class="image">
        <img src="<%= production_image(production) %>">
      </div>
      <div class="content">
        <div class="header"><%= production.label %></div>
        <div class="meta"><%= I18n.l(production.date_of_first_performance, format: :long) %></div>
        <div class="description"> <%= truncate(strip_tags(production.description), length: 100, seperator: /\w+/) %></div>
      </div>
      <div class="extra content">
        <span>
          <i class="arrow alternate circle down outline icon"></i> <%= production.location_label %>
        </span>
      </div>
    </a>
  <% end %>
</div>