<div class="ui padded raised segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="<%= production_image(@production) %>">
      </div>
      <div class="content">
        <h1 class="header"><%= @production.label %></h1>
        <div class="meta">
          <span class="cinema"> <%=I18n.l(@production.date_of_first_performance, format: :long) %></span>
        </div>
        <div class="extra">
          <a href="<%=@production.production_uri %>">
            <div class="ui right floated primary button">
              Visit Source
              <i class="right chevron icon"></i>
            </div>
            </a>
        
            <div class="ui label">
              <i class="green arrow alternate circle down outline icon"></i>
              <%= @production.location_label %>
            </div>
        </div>
        <div class="meta">
          <span class="cinema"> <%= @production.locality %>,  <%= @production.country %></span>
        </div>
       
        <% if @production.production_company_label %>
         <div class="meta">
          <span class="version">Production company: <%= @production.production_company_label %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
 
  <h2 class="header">Description</h2>
  <div>
    <p><%= strip_tags(@production.description) %></p>
  </div>
  <div class="ui divider"></div>
  <h2 class="header">Related Images</h2>
  <div style="overflow-x: scroll; display: flex;">
    <img src="https://dummyimage.com/420x320/ff7f7f/333333.png&text=Sample 1" >
    <img src="https://dummyimage.com/420x320/7f7fff/333333.png&text=Sample 2" >
    <img src="https://dummyimage.com/420x320/7fff7f/333333.png&text=Sample 3" >
    <img src="https://dummyimage.com/420x320/7f7f7f/333333.png&text=Sample 4" >
  </div>
</div>