<%= form_with(model: spotlight, local: true, class: "ui form") do |form| %>
  <% if spotlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

      <ul>
      <% spotlight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label "Image URL" %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

<div class="ui divider"></div>
   <h2> Spotlight search parameters </h2>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, placeholder: "YYYY-MM-DD"  %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, placeholder: "YYYY-MM-DD" %>
  </div>

  <div class="field">
   <%= form.label  "Search terms (Production Name, Venue, Country, Production Company)" %>
   
    <%= form.text_field :query %>
  </div>

  <div class="field">
    Data sources 
 
<% @data_sources.each do |t| %>
  <div class="inline field">
    <%= form.check_box "data_sources[#{t.id}]"  %>
    <%= form.label t.name  %>
  </div>
  <% end %>
 </div>


  <div class="actions">
    <%= form.submit "Update", class: 'ui button green show_loading' %>
  </div>
<% end %>
